name: CI
# Trigger the CI on pull requests and direct pushes to any branch
on:
  push:
  pull_request:
jobs:
  terraform-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1.3.2

    - name: terraform fmt
      run: terraform fmt -check
      working-directory: ./terraform


  run-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15

    - name: Run tests
      run: go test -v ./...

  build-verify:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15

    - name: Build
      run: make build

    - name: Verify
      run: make verify
